body {
  background-color: #ffffff;
  color: #black;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.8);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
figcaption {
  font-size: 0.8em;
}
h1 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.8em;
}
h3 {
  font-size: 1.4em;
}
.author {
  font-size: 0.9em;
}
.story-text {
  line-height: 1.2;
  width: 600px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
